## Pandas analysis

This exercise consists in analyzing a dataset containg timing information from a series of Time-to-Digital-Converters (TDC) implemented in a couple of FPGAs. Each measurement (i.e. each row of the input file) consists of a flag that specifies the type of message ('HEAD', which in this case is always 1), two addresses of the TDC providing the signal ('FPGA' and 'TDC_CHANNEL'), and the timing information ('ORBIT_CNT', 'BX_COUNTER', and 'TDC_MEAS'). Each TDC count corresponds to 25/30 ns, whereas a unit of BX_COUNTER corresponds to 25 ns, and the ORBIT_CNT is increased every 'x' BX_COUNTER. This allows to store the time in a similar way to hours, minutes and seconds.

In [2]:
# If you didn't download it yet, please get the relevant file now!
!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ~/data/

--2024-11-28 08:42:59--  https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt
Resolving www.dropbox.com (www.dropbox.com)... 162.125.69.18, 2620:100:6025:18::a27d:4512
Connecting to www.dropbox.com (www.dropbox.com)|162.125.69.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://www.dropbox.com/scl/fi/pkkpoxlm7beasryexpdf8/data_000637.txt?rlkey=rkm2em1v57hewglzelmin21c9 [following]
--2024-11-28 08:42:59--  https://www.dropbox.com/scl/fi/pkkpoxlm7beasryexpdf8/data_000637.txt?rlkey=rkm2em1v57hewglzelmin21c9
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc4c652649efef8e0ba69bb0c141.dl.dropboxusercontent.com/cd/0/inline/CfNCzIZD8PhacJ8tziGNIItCnKHnqKNeLkPWQWx63opNAYqWDnp54Rf4xQ2c3gqnvWmQklziIGMOBFxaPvL3RQ9ia8Pf7QvEdBq8mzTXAgcLuHucrHZnpl1IaxOtyy29JSk/file# [following]
--2024-11-28 08:43:00--  https://uc4c652649efef8e0ba69bb0c141.dl.dropboxusercontent.com/cd/0/inline/CfNCzIZD8PhacJ8tziGNIItCnKHnqKNeLkPWQWx63opNAYqWDnp54Rf4xQ2c3gqnvWmQklziIGMOBFxaPvL3RQ9ia8Pf7QvEdBq8mzTXAgcLuHucrHZnpl1IaxOtyy29JSk/file
Resolving uc4c652649efef8e0ba69bb0c141.dl.dropboxusercontent.com (uc4c652649efef8e0ba69bb0c141.dl.dropboxusercontent.com)... 162.125.69.15, 2620:100:6025:15::a27d:450f
Connecting to uc4c652649efef8e0ba69bb0c141.dl.dropboxusercontent.com (uc4c652649efef8e0ba69bb0c141.dl.dropboxusercontent.com)|162.125.69.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 33179236 (32M) [text/plain]
Saving to: ‘/home/ungureav/data/data_000637.txt.1’

data_000637.txt.1   100%[===================>]  31.64M  21.6MB/s    in 1.5s

2024-11-28 08:43:03 (21.6 MB/s) - ‘/home/ungureav/data/data_000637.txt.1’ saved [33179236/33179236]

1\. Create a Pandas DataFrame reading N rows of the 'data_000637.txt' dataset. Choose N to be smaller than or equal to the maximum number of rows and larger that 10k.

2\. Find out the number of BX in a ORBIT (the value 'x').

3\. Find out how much the data taking lasted. You can either make an estimate based on the fraction of the measurements (rows) you read, or perform this check precisely by reading out the whole dataset.

4\. Create a new column with the absolute time in ns (as a combination of the other three columns with timing information).

5\. Replace the values (all 1) of the HEAD column randomly with 0 or 1.

6\. Create a new DataFrame that contains only the rows with HEAD=1.

7\. Make two occupancy plots (one for each FPGA), i.e. plot the number of counts per TDC channel

8\. Use the groupby method to find out the noisy channels, i.e. the TDC channels with most counts (say the top 3)

9\. Count the number of unique orbits. Count the number of unique orbits with at least one measurement from TDC_CHANNEL=139

In [27]:
import pandas as pd
import numpy as np

df = pd.read_csv('/home/ungureav/data/data_000637.txt.1', nrows = 10001)
display(df[:100])

    HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0      1     0          123  3869200167        2374        26
1      1     0          124  3869200167        2374        27
2      1     0           63  3869200167        2553        28
3      1     0           64  3869200167        2558        19
4      1     0           64  3869200167        2760        25
5      1     0           63  3869200167        2762         4
6      1     0           61  3869200167        2772        14
7      1     0          139  3869200167        2776         0
8      1     0           62  3869200167        2774        21
9      1     0           60  3869200167        2788         7
10     1     1            7  3869200167        2785         4
11     1     0           64  3869200167        2786        19
12     1     1            6  3869200167        2792        18
13     1     0           36  3869200167        2791        23
14     1     0           56  3869200167        2789         3
15     1     1          139  3869200167        2797         0
16     1     1            8  3869200167        2787        14
17     1     0           63  3869200167        2790        10
18     1     1            5  3869200167        2795         4
19     1     0           53  3869200167        2796        26
20     1     1           10  3869200167        2789        14
21     1     0           57  3869200167        2789        10
22     1     0           61  3869200167        2790        23
23     1     0           38  3869200167        2799        15
24     1     0           58  3869200167        2795        19
25     1     0           62  3869200167        2797        14
26     1     0           59  3869200167        2799        14
27     1     0           59  3869200167        3081        21
28     1     0           61  3869200167        3081         1
29     1     0           60  3869200167        3083        20
..   ...   ...          ...         ...         ...       ...
70     1     0           63  3869200168         670         9
71     1     0           64  3869200168         672        20
72     1     1            4  3869200168        1089        23
73     1     1            6  3869200168        1092         6
74     1     1            7  3869200168        1101         3
75     1     1            3  3869200168        1318        10
76     1     1            1  3869200168        1328         4
77     1     1            2  3869200168        1449        12
78     1     1            1  3869200168        1454        12
79     1     0          117  3869200168        1450         3
80     1     0          121  3869200168        1449        12
81     1     1            2  3869200168        1458         9
82     1     0          123  3869200168        1448        24
83     1     0           45  3869200168        1495        29
84     1     0           48  3869200168        1498        29
85     1     1            4  3869200168        1499        15
86     1     0          139  3869200168        1505         0
87     1     0           46  3869200168        1499        29
88     1     1          139  3869200168        1505         0
89     1     1            3  3869200168        1503         7
90     1     0          123  3869200168        1505        19
91     1     0           63  3869200168        1503        21
92     1     1            5  3869200168        1502        11
93     1     0          124  3869200168        1507         3
94     1     0           47  3869200168        1507        25
95     1     0           64  3869200168        1506         4
96     1     1            6  3869200168        1503         6
97     1     0           61  3869200168        1609        10
98     1     0           59  3869200168        1614        16
99     1     0          139  3869200168        1616         0

[100 rows x 6 columns]

In [10]:
filtered_data = df.loc[df['ORBIT_CNT'] == 3869200167, 'BX_COUNTER']
#command for newer versions:filtered_data = filtered_data.to_numpy()
#command for older versions:
filtered_data = filtered_data.values
sub = filtered_data[-1] - filtered_data[0]
print(sub)

813

In [14]:
orbit_sub = (df['ORBIT_CNT'].values[-1] - df['ORBIT_CNT'].values[0])* 25 * 813
bx_sub = (df['BX_COUNTER'].values[-1] - df['BX_COUNTER'].values[0]) * 25
tdc_sub = (df['BX_COUNTER'].values[-1] - df['BX_COUNTER'].values[0]) * 25/30
print(orbit_sub + bx_sub + tdc_sub , 'ns')

1991218.3333333333 ns

In [19]:
TIME = []
for i in range(len(df['ORBIT_CNT'].values)):
    time = df['ORBIT_CNT'].values[i] * 25 *813 + df['BX_COUNTER'].values[i] * 25 + df['TDC_MEAS'].values[i] * 25/30
    TIME.append(time)
df['ABS_TIME'] = TIME
df.head()

   HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS      ABS_TIME
0     1     0          123  3869200167        2374        26  7.864149e+13
1     1     0          124  3869200167        2374        27  7.864149e+13
2     1     0           63  3869200167        2553        28  7.864149e+13
3     1     0           64  3869200167        2558        19  7.864149e+13
4     1     0           64  3869200167        2760        25  7.864149e+13

In [22]:
df['HEAD'] = np.random.choice([0,1], size = df.shape[0])
df.head()

   HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS      ABS_TIME
0     1     0          123  3869200167        2374        26  7.864149e+13
1     0     0          124  3869200167        2374        27  7.864149e+13
2     1     0           63  3869200167        2553        28  7.864149e+13
3     0     0           64  3869200167        2558        19  7.864149e+13
4     1     0           64  3869200167        2760        25  7.864149e+13

In [24]:
new_data = df.loc[df['HEAD'] == 1]
new_data.head()

   HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS      ABS_TIME
0     1     0          123  3869200167        2374        26  7.864149e+13
2     1     0           63  3869200167        2553        28  7.864149e+13
4     1     0           64  3869200167        2760        25  7.864149e+13
5     1     0           63  3869200167        2762         4  7.864149e+13
7     1     0          139  3869200167        2776         0  7.864149e+13

In [26]:
new_data = new_data.groupby('TDC_CHANNEL')
new_data.head()
#for i in range(len(df['HEAD'].values)):

AttributeError: Cannot access callable attribute 'groupby' of 'DataFrameGroupBy' objects, try using the 'apply' method